// body{background-color: red;}

body {
	margin: 0px;
}

//Core

$partitionNumber: 6;


.core-container{
	width: 100vw;
	height: 65vh;
	overflow: hidden;

	perspective: 300vw;
	// transform-style: preserve-3d;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;


	display : flex;
	flex-wrap: nowrap;
	flex-flow: center;
	justify-content: center;

	background-attachment: fixed;
	background-size: cover;
	background-color: rgba(0.5,0.5,0.5,0.1);
	// background-image: url('../images/obj-bg/30.jpg');


}

.core-space {
    width: 0px;
    height: 0px;

	transform-style: preserve-3d;
    transform: rotateX(-30deg) translate3d(0vw, 15vh, 0px);
}


@keyframes rotateCore {
	0% {
		transform: rotateY(360deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}


.core-partition-group{
	animation: rotateCore 25s linear 0s infinite;
	transform-style: preserve-3d;
	transition: all 1.5s;
	transform: rotateY( 60deg );

}


@mixin partition-core{
	@for $i from 1 through $partitionNumber {
		&[cp="#{$i}"] {
			background-attachment: fixed;
			background-size: cover;
			background-color: rgba(0.5,0.5,0.5,0.2);
			// background-image: url('../images/obj-bg/#{$i}.jpg');

			backface-visibility: visible;
			transform-origin: 0% 50%;
			transform: rotateY( -60 + $i * 60deg ) translate3d(5.0vw, 0px, 0px);
			transition: all 1.5s 0s;

		}
	}
}

.core-partition{
	position: absolute;
	top: 0px;
	left: 0px;

    width: 23vw;
    height: 39vh;

	@include partition-core;

	border-radius: 10px;
}








