// body{background-color: red;}

body {
	margin: 0px;
}

.core-container{
	width: 100vw;
	height: 65vh;
	overflow: hidden;

	perspective: 300vw;
	// transform-style: preserve-3d;


	display : flex;
	flex-wrap: nowrap;
	flex-flow: center;
	justify-content: center;

	background-color: rgba(0.5,0.5,0.5,0.1);

}

.core-space {
    width: 0px;
    height: 0px;

	transform-style: preserve-3d;

    transform: rotateX(-30deg) translate3d(-18vw, 15vh, 0px);

}

@keyframes rotateCore {
	0% {
		transform: rotateY(360deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}


.core-partition-group{
	animation: rotateCore 30s linear 0s infinite;
	transform-style: preserve-3d;
}




$partitionNumber: 6;
@mixin partition-background{
	$partition: "cp";
	@for $i from 1 through $partitionNumber {
		&.#{$partition}-#{$i} {
			background-attachment: fixed;
			background-size: cover;
			background-color: rgba(0.5,0.5,0.5,0.2);
			// background-image: url('../images/obj-bg/#{$i}.jpg');

			backface-visibility: visible;
			transform-origin: 0% 50%;
			transform: rotateY( -60 + $i * 60deg ) translate3d(5.0vw, 0px, 0px);

		}
	}
}

.core-partition{
	position: absolute;
	top: 0px;
	left: 0px;

    min-width: 230px;
    min-height: 390px;

    width: 23vw;
    height: 39vh;

	@include partition-background;

	border-radius: 10px;

}




